// Styles for Cesium/ Resium
.cesium-viewer-bottom {
  left: 10px !important;
}
.cesium-credit-textContainer {
  display: none !important;
}
button.cesium-button:nth-child(2) {
  display: none !important;
}
