@import "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: $light;
  font-family: $Ubuntu-font;
  font-size: large;
  width: 100%;
  max-width: 1920px;
}

#root {
  height: 100%;
}
