// General styles
@import "./variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: $light;
  font-family: $Ubuntu-font;
  font-size: large;
  width: 100%;
  max-width: 1920px;
}
#root {
  height: 100%;
}

// Spinner (Loader)
.center {
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
.loader {
  // border: 15px solid whitesmoke;
  border-top: 15px solid #3498db;
  border-right: 15px solid lightgreen;
  border-bottom: 15px solid orangered;
  border-left: 15px solid yellow;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

// Button for Credits Modal
.credits-button {
  padding: 0.5rem 1rem;
  border-radius: $borderRadius;
  transition: 0.3s ease all;
  font-size: large;
  font-family: $Ubuntu-font;
  font-weight: normal;
  font-weight: bold !important;
  font-style: italic !important;
  &:hover {
    color: whitesmoke;
  }
}
// Modal -> Tabs
.nav-link.active {
  color: maroon !important;
  font-weight: bold !important;
  font-style: italic !important;
}
div.list-group-item {
  font-size: 95%;
  background-color: lightyellow;
  padding: 6px 16px;
  &:hover {
    background-color: wheat;
  }
}
div.modal-content {
  border-radius: $borderRadius !important;
}
button.nav-link {
  border: 1px solid $bootstrapPrimary !important;
  border-bottom: none !important;
  &:hover {
    background-color: lightgrey !important;
    font-weight: bold !important;
  }
}
button.nav-link.active {
  border: 2px solid maroon !important;
  border-bottom: none !important;
  background-color: wheat !important;
  &:hover {
    filter: brightness(90%);
  }
}
// Framer animation - tooltip
div.tooltip-inner {
  background-color: #fcd308;
  color: #111;
  font-size: 1rem;
  font-weight: bold;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: #fcd308;
}
.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: #fcd308;
}
.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: #fcd308;
}
.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: #fcd308;
}

// MarsPictures - PictureDatePicker
.popperStyle {
  z-index: 99 !important;
  background-color: inherit;
}
