// General styles
@import "./variables.scss";
* {
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: $light;
  font-family: $Ubuntu-font;
  font-size: large;
  width: 100%;
  max-width: 1920px;
}
#root {
  height: 100%;
}

// Spinner (Loader)
.center {
  position: fixed;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
}
.loader {
  // border: 15px solid whitesmoke;
  border-top: 15px solid #3498db;
  border-right: 15px solid lightgreen;
  border-bottom: 15px solid orangered;
  border-left: 15px solid yellow;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

// Button for Credits Modal
.credits-button {
  padding: 0.5rem 1rem;
  border-radius: $borderRadius;
  transition: 0.3s ease all;
  font-size: large;
  font-family: $Ubuntu-font;
  font-weight: normal;
  font-weight: bold !important;
  font-style: italic !important;
  &:hover {
    color: whitesmoke;
  }
}
// Modal -> Tabs
.nav-link.active {
  color: maroon !important;
  font-weight: bold !important;
  font-style: italic !important;
}
div.list-group-item {
  font-size: 95%;
}
