@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$Ubuntu-font: "Ubuntu Mono", monospace;

// Colors
$dark: rgb(32, 32, 32);
$light: whitesmoke;
$primary: #dd2e44;
$bootstrapPrimary: #0b5ed7;

// Spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// Border radius
$borderRadius: 12px;

// Navbar height
$headerHeight: 105px;

@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (min-width: 768px) {
      @content;
    }
  }
}
