//* CustomTooltip
.customTooltip {
  .tooltip-inner {
    background-color: orangered;
    opacity: 0.9;
    color: #111;
    font-size: 1rem;
    font-weight: normal;
    padding: "2px 10px";
    border-radius: 5px;
    border: 3px solid darkviolet;
  }
  .tooltip-arrow {
    display: none !important;
  }
}

//* Simple-React-LightBox - Caption Options
p.SRLCaptionText {
  background-color: #eee !important;
  opacity: 0.5 !important;
  border: 1px solid black !important;
  box-shadow: 5px 5px 8px green, 10px 10px 8px red, 15px 15px 8px blue, 20px 20px 8px yellow !important;
}
