.legend {
  padding: 0 5px;
  /* font-size/line-height: */
  font: 14px/16px Arial, sans-serif;
  background: whitesmoke;
  border-radius: 0 5px 0 0;
  opacity: 0.8;
  text-align: left;
  line-height: 18px;
  color: #555;
  width: 522px;
  margin: 0 !important;
}

.image {
  margin: 0 !important;
  padding: 0 !important;
}
