.info {
  padding: 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: whitesmoke;
  border-radius: 5px;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
  width: 600px;
}

.image {
  width: 100%;
  height: auto;
}
